assigment4/flows.json
[
    {
        "id": "86aee506f99f39b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_motion",
        "type": "mqtt in",
        "z": "86aee506f99f39b0",
        "name": "HiveMQ Motion",
        "topic": "/esp32/motion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85c5680df89f825f",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "json_parse",
                "debug_node"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "function",
        "z": "86aee506f99f39b0",
        "name": "Format JSON",
        "func": "msg.payload = {\n  motion: msg.payload.motion\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 340,
        "wires": [
            [
                "influxdb_out"
            ]
        ]
    },
    {
        "id": "influxdb_out",
        "type": "influxdb out",
        "z": "86aee506f99f39b0",
        "influxdb": "influxdb_config",
        "name": "influx_out",
        "measurement": "motion_status",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "org",
        "bucket": "iot_data",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "86aee506f99f39b0",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "85c5680df89f825f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influxdb_config",
        "type": "influxdb",
        "hostname": "REPLACE_ME",
        "port": "443",
        "protocol": "https",
        "database": "REPLACE_ME_BUCKET",
        "name": "InfluxDB Cloud",
        "usetls": true,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "0a50fae842252f4c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]